<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="../static/icon/hygieia.png" type="image/png">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>{% block title %} Eltaina — интернет-аптека {% endblock %}</title>
    {% endblock %}
  </head>
  <body class="light">

    {% block header %}
    <!--Хедер-->
    <header>
        <div class="header-top">
          <div class="container">
  
            <ul class="header-top-list">
              <div class="select-mate">
                <a href="#" class="header-top-gps">
                  <i class="fi fi-rr-marker"></i>
                    <select name="currency">
                      <option value="Республика Крым">Республика Крым</option>
                      <option value="Москва и область">Москва и область</option>
                      <option value="Краснодар">Краснодар</option>
                    </select>
  
                </a>
              </div>
  
  
              <li>
                <a href="#" class="header-top-link">Как сделать заказ?</a>
              </li>
  
              <li>
                <a href="#" class="header-top-link">Доставка и оплата</a>
              </li>
  
              <li>
                <a href="#" class="header-top-link">Что с моим заказом?</a>
              </li>
            </ul>
  
            <div class="header-alert-news">
              <p>
                <b>Служба поддержки</b>
                8 (800) 800-80-80
              </p>
            </div>
  
          </div>
        </div>
  
        <div class="header-main">
  
          <div class="container">
  
            <a href="/" class="header-logo">
              <img src="../static/icon/ELtaina.png" alt="ELtaina's logo">
            </a>
  
            <div class="header-search-container">
              <ion-icon name="search-outline"></ion-icon>
              <input type="search" name="search" class="search-field" placeholder="Поиск по лекарству или болезни... ">
  
              <button class="search-btn">
                <span>Найти</span>
              </button>
  
            </div>
  
            <div class="header-user-actions">
  
              <button class="action-btn">
                <ion-icon name="medkit-outline"></ion-icon>
                <span class="count">4</span>
              </button>
  
              {% if session.logged_in %}
            
              <div class="header__cart cart" tabindex="0">

              <div class="cart__text">
                  <button class="action-btn" onclick="printQuantity();">
                      <ion-icon name="bag-handle-outline"></ion-icon>
                      {% for order_cart in cart_count %}
                      <span class="count">{{ order_cart.count_cart }}</span>
                      {% endfor %}
                  </button>
                  

                  <div class="cart-content">
                  <ul class="cart-content__list" data-simplebar>
                      {% for order_cart in basket %}
                      <li class="cart-content__item">
                      
                      <article class="cart-content__product cart-product" data-id="{{ order_cart.ID_Medication }}">
                          <img src="{{ order_cart.image }}" alt="" class="cart-product__img">
                          <div class="cart-product__text">
                          <a href="/cart/{{ order_cart.ID_Medication }}">
                          <p class="counter_item">{{ order_cart.Count }} позиция(ии)</p>
                          <h3 class="cart-product__title">{{ order_cart.title }}</h3>
                          </a>
                          
                          <span class="cart-product__price">{{ order_cart.Cost }} ₽</span>

                          <form action="/" method="POST">
                          <input class="del_id_item" type="hidden" id="{{ order_cart.ID_Order }}">
                          <button class="cart-product__delete" aria-label="Удалить товар" onclick="del_item();"></button>
                          </form>
                          
                      </article>
                      </li>
                      {% endfor %}
                  </ul>
                  <div class="cart-content__bottom">
                      <div class="cart-content__fullprice">
                      <span>Итого:</span> 
                      {% for order_cart in total_cost_count %}
                      <span class="fullprice">{{order_cart.total_cost_count}} ₽</span>
                      {% endfor %}
                      </div>
                      <div class="cart-content__btn baton">Оформить</div>
                  </div>
                  </div>

              </div>

              </div>

              {% endif %}

              <script>
                  function printQuantity () {
                  let btn_cart = document.querySelector('.action-btn');
                  let cart = document.querySelector('.header__cart');
                  let cartQuantity = cart.querySelector('.count');
                  if (cartQuantity.textContent > 0){
                      cart.classList.add('active');
                  }
                  };
              </script>

              <script>
              function del_item (){
                  let id_item = document.querySelector('.del_id_item').getAttribute('id');
                  $.ajax({
                  url: '/del_item',
                  method: 'post',
                  dataType: 'json',
                  data: {
                      id_del: id_item,
                  },
                  success: function (response) {
                      console.log(response);
                  },
                  error: function (error) {
                      console.log(error);
                  }
                  });
              };
              </script>


          
              <button class="action-btn">
                <ion-icon name="clipboard-outline"></ion-icon>
                <span class="count">2</span>
              </button>
  
              {% if not session.logged_in %}
                <a href="{{ url_for('login') }}">
                  <button class="action-btn">
                    <ion-icon name="person-outline"></ion-icon>
                  </button>
                </a>
              {% else %}
              <a href="{{ url_for('logout') }}">
                  <button class="action-btn">
                    <ion-icon name="log-out-outline"></ion-icon>
                  </button>
              </a>
              {% endif %}
              
            </div>
          </div>
        </div>
  
        <nav class="desktop-navigation-menu">
  
          <div class="container">
    
            <ul class="desktop-menu-category-list">
    
              <li class="menu-category">
                <a href="#" class="menu-title">Акции</a>
              </li>
    
              <li class="menu-category">
                <a href="#" class="menu-title">Лекарства</a>
    
                <div class="dropdown-panel">
    
                  <ul class="dropdown-panel-list">
    
                    <li class="menu-title">
                      <a href="#">Категории</a>
                    </li>
    
                    <li class="panel-list-item">
                      <a href="#">Анестезия, реанимация</a>
                    </li>
    
                    <li class="panel-list-item">
                      <a href="#">Антибиотики</a>
                    </li>
    
                    <li class="panel-list-item">
                      <a href="#">Боль, температура</a>
                    </li>
    
                    <li class="panel-list-item">
                      <a href="#">Обеззараживающие средства</a>
                    </li>
    
                    <li class="panel-list-item">
                      <a href="#">Иммуная система</a>
                    </li>
    
                    <li class="panel-list-item">
                      <a href="#">
                        <img src="../static/public/Tablet.jpg" alt="headphone collection" width="250"
                          height="119">
                      </a>
                    </li>
    
                  </ul>
    
                  <ul class="dropdown-panel-list">
    
                    <li class="menu-title">
                      <a href="#">Заболевания</a>
                    </li>
    
                    <li class="panel-list-item">
                      <a href="#">Аллергия</a>
                    </li>
    
                    <li class="panel-list-item">
                      <a href="#">Болезни суставов</a>
                    </li>
    
                    <li class="panel-list-item">
                      <a href="#">Изжога</a>
                    </li>
    
                    <li class="panel-list-item">
                      <a href="#">Диабет</a>
                    </li>
    
                    <li class="panel-list-item">
                      <a href="#">Зрение</a>
                    </li>
    
                    <li class="panel-list-item">
                      <a href="#">
                        <img src="../static/public/Dropper.jpg" alt="headphone collection" width="250"
                          height="119">
                      </a>
                    </li>
                  </ul>
    
                </div>
              </li>
    
              <li class="menu-category">
                <a href="#" class="menu-title">Витамины</a>
    
                <ul class="dropdown-list">
    
                  <li class="dropdown-item">
                    <a href="#">Аминокислоты</a>
                  </li>
    
                  <li class="dropdown-item">
                    <a href="#">Антиоксиданты</a>
                  </li>
    
                  <li class="dropdown-item">
                    <a href="#">Магне-В6</a>
                  </li>
    
                  <li class="dropdown-item">
                    <a href="#">Кальций</a>
                  </li>
  
  
    
                </ul>
              </li>
    
              <li class="menu-category">
                <a href="#" class="menu-title">Медтовары</a>
    
                <ul class="dropdown-list">
    
                  <li class="dropdown-item">
                    <a href="#">Аптечки</a>
                  </li>
    
                  <li class="dropdown-item">
                    <a href="#">Перевязочные материалы</a>
                  </li>
    
                  <li class="dropdown-item">
                    <a href="#">Диагностические тесты</a>
                  </li>
    
                  <li class="dropdown-item">
                    <a href="#">Пластыри</a>
                  </li>
    
                </ul>
              </li>
    
              <li class="menu-category">
                <a href="#" class="menu-title">Медтехника</a>
    
                <ul class="dropdown-list">
    
                  <li class="dropdown-item">
                    <a href="#">Ингаляторы</a>
                  </li>
    
                  <li class="dropdown-item">
                    <a href="#">Массажеры</a>
                  </li>
    
                  <li class="dropdown-item">
                    <a href="#">Тонометры</a>
                  </li>
    
                  <li class="dropdown-item">
                    <a href="#">Стетоскопы</a>
                  </li>
    
                </ul>
              </li>
    
              <li class="menu-category">
                <a href="#" class="menu-title">Косметика</a>
    
                <ul class="dropdown-list">
    
                  <li class="dropdown-item">
                    <a href="#">Ароматерапия</a>
                  </li>
    
                  <li class="dropdown-item">
                    <a href="#">Акне</a>
                  </li>
    
                  <li class="dropdown-item">
                    <a href="#">Депиляция и бритье</a>
                  </li>
    
                  <li class="dropdown-item">
                    <a href="#">Избыточный вес</a>
                  </li>
    
                </ul>
              </li>
    
              <li class="menu-category">
                <a href="#" class="menu-title">Здоровое питание</a>
    
                <ul class="dropdown-list">
    
                  <li class="dropdown-item">
                    <a href="#">Заменители сахара</a>
                  </li>
    
                  <li class="dropdown-item">
                    <a href="#">Диетическое питание</a>
                  </li>
    
                  <li class="dropdown-item">
                    <a href="#">Гематоген</a>
                  </li>
    
                  <li class="dropdown-item">
                    <a href="#">Батончики, мюсли</a>
                  </li>
    
                </ul>
              </li>
    
              <li class="menu-category">
                <a href="#" class="menu-title">Гигиена</a>
    
                <ul class="dropdown-list">
    
                  <li class="dropdown-item">
                    <a href="#">Антибактериальные средства</a>
                  </li>
    
                  <li class="dropdown-item">
                    <a href="#">Ватные и бумажные изделия</a>
                  </li>
    
                  <li class="dropdown-item">
                    <a href="#">Средства женской гигиены</a>
                  </li>
    
                  <li class="dropdown-item">
                    <a href="#">Уход за полостью рта</a>
                  </li>
    
                </ul>
              </li>
    
            </ul>
    
          </div>
    
        </nav>
  
        <div class="mobile-bottom-navigation">
  
          <button class="action-btn" data-mobile-menu-open-btn>
            <ion-icon name="menu-outline"></ion-icon>
          </button>
  
          <button class="action-btn">
            <ion-icon name="bag-handle-outline"></ion-icon>
    
            <span class="count">+9</span>
          </button>
    
          <button class="action-btn">
            <ion-icon name="clipboard-outline"></ion-icon>
          </button>
    
          <button class="action-btn">
            <ion-icon name="medkit-outline"></ion-icon>
    
            <span class="count">2</span>
          </button>
    
          <button class="action-btn" data-mobile-menu-open-btn>
            <ion-icon name="grid-outline"></ion-icon>
          </button>
    
        </div>
  
        <nav class="mobile-navigation-menu  has-scrollbar" data-mobile-menu>
  
          <div class="menu-top">
            <h2 class="menu-title">Меню</h2>
  
            <button class="menu-close-btn" data-mobile-menu-close-btn>
              <ion-icon name="close-outline"></ion-icon>
            </button>
          </div>
  
          <ul class="mobile-menu-category-list">
  
            <li class="menu-category">
  
              <button class="accordion-menu" data-accordion-btn>
                <p class="menu-title">Лекарства</p>
  
                <div>
                  <ion-icon name="add-outline" class="add-icon"></ion-icon>
                <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                </div>
              </button>
  
              <ul class="submenu-category-list" data-accordion>
  
                <li class="submenu-category">
                  <a href="#" class="submenu-title">Анестезия, реанимация</a>
                </li>
  
                <li class="submenu-category">
                  <a href="#" class="submenu-title">Антибиотики</a>
                </li>
  
                <li class="submenu-category">
                  <a href="#" class="submenu-title">Боль, температура</a>
                </li>
  
                <li class="submenu-category">
                  <a href="#" class="submenu-title">Обеззараживающие средства</a>
                </li>
  
                <li class="submenu-category">
                  <a href="#" class="submenu-title">Иммуная система</a>
                </li>
  
              </ul>
  
            </li>
  
            <li class="menu-category">
  
              <button class="accordion-menu" data-accordion-btn>
                <p class="menu-title">Витамины</p>
  
                <div>
                  <ion-icon name="add-outline" class="add-icon"></ion-icon>
                <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                </div>
              </button>
  
              <ul class="submenu-category-list" data-accordion>
  
                <li class="submenu-category">
                  <a href="#" class="submenu-title">Аминокислоты</a>
                </li>
  
                <li class="submenu-category">
                  <a href="#" class="submenu-title">Антиоксиданты</a>
                </li>
  
                <li class="submenu-category">
                  <a href="#" class="submenu-title">L-карнитин</a>
                </li>
  
                <li class="submenu-category">
                  <a href="#" class="submenu-title">Поливитамины</a>
                </li>
  
  
              </ul>
  
            </li>
  
            <li class="menu-category">
  
              <button class="accordion-menu" data-accordion-btn>
                <p class="menu-title">Средства гигиены</p>
  
                <div>
                  <ion-icon name="add-outline" class="add-icon"></ion-icon>
                <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                </div>
              </button>
  
              <ul class="submenu-category-list" data-accordion>
  
                <li class="submenu-category">
                  <a href="#" class="submenu-title">Антибактериальные средства гигиены</a>
                </li>
  
                <li class="submenu-category">
                  <a href="#" class="submenu-title">Ватные и бумажные изделия</a>
                </li>
  
                <li class="submenu-category">
                  <a href="#" class="submenu-title">Средства женской гигиены</a>
                </li>
  
                <li class="submenu-category">
                  <a href="#" class="submenu-title">Уход за полостью рта</a>
                </li>
  
  
              </ul>
  
            </li>
  
            <li class="menu-category">
  
              <button class="accordion-menu" data-accordion-btn>
                <p class="menu-title">Косметика</p>
  
                <div>
                  <ion-icon name="add-outline" class="add-icon"></ion-icon>
                <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                </div>
              </button>
  
              <ul class="submenu-category-list" data-accordion>
  
                <li class="submenu-category">
                  <a href="#" class="submenu-title">Ароматерапия</a>
                </li>
  
                <li class="submenu-category">
                  <a href="#" class="submenu-title">Акне</a>
                </li>
  
                <li class="submenu-category">
                  <a href="#" class="submenu-title">Волосы</a>
                </li>
  
                <li class="submenu-category">
                  <a href="#" class="submenu-title">Депиляция и бритье</a>
                </li>
  
  
              </ul>
  
            </li>
  
            <li class="menu-category">
  
              <button class="accordion-menu" data-accordion-btn>
                <p class="menu-title">Медтовары</p>
  
                <div>
                  <ion-icon name="add-outline" class="add-icon"></ion-icon>
                <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                </div>
              </button>
  
              <ul class="submenu-category-list" data-accordion>
  
                <li class="submenu-category">
                  <a href="#" class="submenu-title">Тесты на COVID-19</a>
                </li>
  
                <li class="submenu-category">
                  <a href="#" class="submenu-title">Здоровое питание</a>
                </li>
  
                <li class="submenu-category">
                  <a href="#" class="submenu-title">Компрессионное и корректирующее белье</a>
                </li>
  
                <li class="submenu-category">
                  <a href="#" class="submenu-title">Перевязочные материалы</a>
                </li>
  
  
              </ul>
  
            </li>
  
            <li class="menu-category">
  
              <button class="accordion-menu" data-accordion-btn>
                <p class="menu-title">Медтехника</p>
  
                <div>
                  <ion-icon name="add-outline" class="add-icon"></ion-icon>
                <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                </div>
              </button>
  
              <ul class="submenu-category-list" data-accordion>
  
                <li class="submenu-category">
                  <a href="#" class="submenu-title">Тест-полоски</a>
                </li>
  
                <li class="submenu-category">
                  <a href="#" class="submenu-title">Ингаляторы</a>
                </li>
  
                <li class="submenu-category">
                  <a href="#" class="submenu-title">Тонометры и стетоскопы</a>
                </li>
  
                <li class="submenu-category">
                  <a href="#" class="submenu-title">Электрические зубные щетки</a>
                </li>
  
  
              </ul>
  
            </li>
  
            <li class="menu-category">
  
              <button class="accordion-menu" data-accordion-btn>
                <p class="menu-title">Мама и малыш</p>
  
                <div>
                  <ion-icon name="add-outline" class="add-icon"></ion-icon>
                <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                </div>
              </button>
  
              <ul class="submenu-category-list" data-accordion>
  
                <li class="submenu-category">
                  <a href="#" class="submenu-title">Все для кормления ребенка</a>
                </li>
  
                <li class="submenu-category">
                  <a href="#" class="submenu-title">Гигиена малыша</a>
                </li>
  
                <li class="submenu-category">
                  <a href="#" class="submenu-title">Детское питание</a>
                </li>
  
                <li class="submenu-category">
                  <a href="#" class="submenu-title">Подгузники</a>
                </li>
  
  
              </ul>
  
            </li>
  
            <li class="menu-category">
  
              <button class="accordion-menu" data-accordion-btn>
                <p class="menu-title">Здоровье и спорт</p>
  
                <div>
                  <ion-icon name="add-outline" class="add-icon"></ion-icon>
                <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                </div>
              </button>
  
              <ul class="submenu-category-list" data-accordion>
  
                <li class="submenu-category">
                  <a href="#" class="submenu-title">Антицеллюлитный уход</a>
                </li>
  
                <li class="submenu-category">
                  <a href="#" class="submenu-title">Масла косметические и эфирные</a>
                </li>
  
                <li class="submenu-category">
                  <a href="#" class="submenu-title">Средства для ног</a>
                </li>
  
                <li class="submenu-category">
                  <a href="#" class="submenu-title">Средства для рук</a>
                </li>
  
  
              </ul>
  
            </li>
  
          </ul>
  
          <div class="menu-bottom">
            <ul class="menu-category-list">
  
              <li class="menu-category">
  
                <button class="accordion-menu" data-accordion-btn="">
                  <p class="menu-title">Местоположение</p>
  
                  <ion-icon name="caret-back-outline" class="caret-back"></ion-icon>
                </button>
  
                <ul class="submenu-category-list" data-accordion>
                  <li class="submenu-category">
                    <a href="#" class="submenu-title">Республика Крым</a>
                  </li>
  
                  <li class="submenu-category">
                    <a href="#" class="submenu-title">Москва и область</a>
                  </li>
  
                  <li class="submenu-category">
                    <a href="#" class="submenu-title">Краснодар</a>
                  </li>
                </ul>
  
              </li>
            </ul>
          </div>
  
        </nav>
  
      </header>
    {% endblock %}


    {% block body %}{% endblock %}



    {% block footer %}
    <footer>

        <div class="footer-category">
    
          <div class="container">
    
            <h2 class="footer-category-title">Каталог брендов</h2>
    
            <div class="footer-category-box">
    
              <h3 class="category-box-title">Здоровье :</h3>
    
              <a href="#" class="footer-category-link">Диабет</a>
              <a href="#" class="footer-category-link">Избыточный вес</a>
              <a href="#" class="footer-category-link">Аллергия</a>
              <a href="#" class="footer-category-link">Аптеки</a>
              <a href="#" class="footer-category-link">Болезни суставов</a>
              <a href="#" class="footer-category-link">Цистит</a>
              <a href="#" class="footer-category-link">Гайморит</a>
    
            </div>
    
            <div class="footer-category-box">
              <h3 class="category-box-title">Красота :</h3>
            
              <a href="#" class="footer-category-link">Бальзамы и кондиционеры</a>
              <a href="#" class="footer-category-link">Депиляция и бритье</a>
              <a href="#" class="footer-category-link">Средства после загара</a>
              <a href="#" class="footer-category-link">Шампуни</a>
              <a href="#" class="footer-category-link">Уход за телом</a>
              <a href="#" class="footer-category-link">Уход за лицом</a>
              <a href="#" class="footer-category-link">Антицеллюлитный уход</a>
            </div>
    
            <div class="footer-category-box">
              <h3 class="category-box-title">Витамины :</h3>
            
              <a href="#" class="footer-category-link">Биологически активные добавки</a>
              <a href="#" class="footer-category-link">Аминокислоты</a>
              <a href="#" class="footer-category-link">Антиоксиданты</a>
              <a href="#" class="footer-category-link">Кальций и магний</a>
              <a href="#" class="footer-category-link">Железо</a>
              <a href="#" class="footer-category-link">БАДы</a>
              <a href="#" class="footer-category-link">Лечебное питание</a>
            </div>
    
            <div class="footer-category-box">
              <h3 class="category-box-title">Медтовары :</h3>
            
              <a href="#" class="footer-category-link">Диагностические тесты</a>
              <a href="#" class="footer-category-link">Здоровое питание</a>
              <a href="#" class="footer-category-link">Кислородные балоны</a>
              <a href="#" class="footer-category-link">Компрессионное и корректирующее белье</a>
              <a href="#" class="footer-category-link">Ортопедия</a>
              <a href="#" class="footer-category-link">Пластыри</a>
              <a href="#" class="footer-category-link">Солевые лампы, грелки</a>
            </div>
    
          </div>
    
        </div>
    
        <div class="footer-nav">
    
          <div class="container">
    
            <ul class="footer-nav-list">
            
              <li class="footer-nav-item">
                <h2 class="nav-title">Продукты</h2>
              </li>
            
              <li class="footer-nav-item">
                <a href="#" class="footer-nav-link">Акции</a>
              </li>
            
              <li class="footer-nav-item">
                <a href="#" class="footer-nav-link">Самовывоз из аптек</a>
              </li>
            
              <li class="footer-nav-item">
                <a href="#" class="footer-nav-link">Скидки</a>
              </li>
            
              <li class="footer-nav-item">
                <a href="#" class="footer-nav-link">Обратная связь</a>
              </li>
            
            </ul>
    
            <ul class="footer-nav-list">
            
              <li class="footer-nav-item">
                <h2 class="nav-title">О компании</h2>
              </li>
            
              <li class="footer-nav-item">
                <a href="#" class="footer-nav-link">Доставка</a>
              </li>
            
              <li class="footer-nav-item">
                <a href="#" class="footer-nav-link">Сертификат</a>
              </li>
            
              <li class="footer-nav-item">
                <a href="#" class="footer-nav-link">О нас</a>
              </li>
            
              <li class="footer-nav-item">
                <a href="#" class="footer-nav-link">Системы оплаты</a>
              </li>
            
            </ul>
    
    
            <ul class="footer-nav-list">
    
              <li class="footer-nav-item">
                <h2 class="nav-title">Контакты</h2>
              </li>
    
              <li class="footer-nav-item flex">
                <div class="icon-box">
                  <ion-icon name="location-outline"></ion-icon>
                </div>
    
                <address class="content">
                  Республика Крым, Симферополь, Киевская ул., 77/4
                </address>
              </li>
    
              <li class="footer-nav-item flex">
                <div class="icon-box">
                  <ion-icon name="call-outline"></ion-icon>
                </div>
    
                <a href="tel:+607936-8058" class="footer-nav-link">(800) 888-8888</a>
              </li>
    
              <li class="footer-nav-item flex">
                <div class="icon-box">
                  <ion-icon name="mail-outline"></ion-icon>
                </div>
    
                <a href="mailto:example@gmail.com" class="footer-nav-link">bessarabenko.m.i20@gmail.com</a>
              </li>
    
            </ul>
    
          </div>
    
        </div>
    
        <div class="footer-bottom">
    
          <div class="container">
    
            <img src="../static/icon/payment.png" alt="payment method" class="payment-img">
    
            <p class="copyright">
              Copyright &copy; <a href="#">ELtaina</a> all rights reserved.
            </p>
    
          </div>
    
        </div>
    
      </footer>
    {% endblock %}
  
      
  
      <!-- <script type="module" src="../static/script.js"></script> -->
  
      <!-- <script
        type="text/javascript"
        src="{{url_for('static', filename='script.js') }}"
      ></script>-->
  
      <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
      <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script> 
      
    </body>
  </html>
